/*Ques 01) Add CSS comments in your CSS block.*/

body {
  background-color: lightblue; /* this line of code make the background blue*/
}

h1 {
  color: navy; /*this makes the text navy blue*/
  margin-left: 20px;
}
