/*Ques 3) Create a different page with the width, style and color of the 4 border-style(set different borders on each side with different patterns).*/

div {
  border-style: groove; /* defining border style */
  border-width: 7px; /* defining border size */
  border-color: coral; /* defining border colour */
}
